body{
    background: rgb(18,46,34);
    background: linear-gradient(0deg, rgba(18,46,34,1) 0%, rgba(20,52,39,1) 35%, rgba(22,58,43,1) 100%);
    text-align: center;
    margin: 0;
    height: 100%;
    width: 100%;
    color: #def2ea;
}
html{
    min-height: 100%;
    position:relative;
  }
img {
    height: 400px;
    width: 600px;
    margin-bottom: 1em;
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}
a{
    text-decoration: none;
    color: #def2ea;
    font-weight: bold;
}
a:hover {
    text-decoration:underline;
}
footer {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}
.list-recipes{
    background: #20523c;
    list-style: inside;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 3em;
    margin-right: 3em;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.list-main{
    list-style-type: none;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 5%;
    margin-left: 40%;
    margin-right: 40%;
    font-size: 20px;
    background: #20523c;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
#header{
    margin-top: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #20523c;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)

}
#top-right{
    padding-left: 50%;
}
#recipes{
    padding-top: 1em;
    padding-bottom: 1em;
}

