body{
    background-color: #0c0d0b;
    color: #a7ae9e;
    text-align: center;
    margin: 0;
}
img {
    padding-bottom: 1em;
}
a{
    text-decoration: none;
    color: #c0c5ba;
    font-weight: bold;
}
.list-recipes{
    list-style: inside;
    background-color: #555;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
}
.list-main{
    list-style-type: none;
    background-color: #555;
    margin-left: 40%;
    margin-right: 40%;
}
a:hover{
    text-decoration:underline;
}
#header{
    margin-top: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #555;
}
